.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.shape {
	width: 200px;
	height: 200px;
	background-color: red;
		transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.shape:hover {
	background-color: blue;

}

