.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.shape {
	width: 200px;
	height: 200px;
	background-color: red;

		.container {
	display: flex;
	width: 200px;
	height: 200px;
	justify-content: center;
	align-items: center;
}

.shape {
	width: 100px;
	height: 100px;
	background-color: blue;
}
}